/*general styles*/

body {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", "Helvetica", serif;
  font-size: 16px;
  color: #AE7C78;
  letter-spacing: 0;
  text-align: center;
  line-height: 25px;
  text-align: left;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

h3 {
  font-size: 19px;
}

a {
    color: #AE7C78;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

a:focus,
a:active {
    opacity: 0.2;
}

.button {
    background: #D89999;
    border-radius: 40px;
    color: #FFFFFF;
    padding: 30px 70px;
    display: inline-block;
    vertical-align: middle;
    appearance: none;
    border: none;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.5;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
}

/*navigation in header and footer*/

.nav-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

/*header*/

.header {
    padding-top: 15px;
    padding-bottom: 15px;

}

.header__nav {
    position: relative;
    border-top: 1px solid #AE7C78;
    border-bottom: 1px solid #AE7C78;
}

.header__nav img {
    position: absolute;
    left: 50%;
    top: 13px;
}

.nav-list__item--third {
    margin-right: 120px;
}

/*main promo*/

.main-promo {
    display: flex;
    justify-content: space-around;
}

.main-promo__desc {
    display: block;
}

.main-promo__desc h1 {
    font-size: 44px;
}

.main-promo__desc p {
    font-size: 24px;
}

.main-promo__desc a {
    padding: 20px 30px;
    color: #ffffff;
    background-color: #AE7C78;
    border-radius: 40%;
}

/*main-advantage*/

.main-advantage {
    display: flex;
    justify-content: space-around;
}

.main-advantage__desc {
    display: flex;
    justify-content: space-around;
}

.main-advantage__desc img {
    padding-right: 20px;
}

.main-advantage__desc img:last-child {
    padding-right: 0;
}

/*main-popular*/

.main-popular {
    display: block;
}

.main-popular h2 {
    text-align: center;
}

.main-popular__desc {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.main-popular__arrows {
    display: flex;
    justify-content: center;
}

/*main-catalogue*/

.main-catalogue {
  display: flex;
  justify-content: space-between;
}

.main-catalogue__desc {
  max-width: 350px;
}

.main-catalogue__desc--first {
  background-image: url("../img/select-1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.main-catalogue__desc--second {
  background-image: url("../img/select-2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.main-catalogue__desc--third {
  background-image: url("../img/select-3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

/*main-sale*/

.main-sale {
  display: flex;
  justify-content: space-between;
}

/*footer*/

.footer {
    background-color: #AE7C78;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer__nav {
    position: relative;
}

.footer__nav img {
    position: absolute;
    top: 0;
    left: 3%;
}

.footer__nav a {
  color: #ffffff;
}

.nav-list__item--first {
    margin-left: 120px;
}