/*general styles*/

body {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", "Helvetica", serif;
  font-size: 16px;
  color: #AE7C78;
  letter-spacing: 0;
  text-align: center;
  line-height: 25px;
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 1200px;
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    min-width: 768px;
    max-width: 1199px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    min-width: 320px;
    max-width: 767px;
  }
}

a {
  color: #AE7C78;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

a:focus,
a:active {
  opacity: 0.2;
}

.button {
  background: #D89999;
  border-radius: 40px;
  color: #FFFFFF;
  padding: 30px 70px;
  display: inline-block;
  vertical-align: middle;
  appearance: none;
  border: none;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.5;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

/*nav in header and footer*/

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
}

/*header*/

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #AE7C78;
  border-bottom: 1px solid #AE7C78;

}

.header__nav {
  position: relative;
}

.header__nav img {
  position: absolute;
  left: 50%;
}

.nav-list__item--third {
  margin-right: 120px;
}

/*main promo*/

.promo {
  display: flex;
  justify-content: space-between;
  margin: 40px 20px 0;
  padding-bottom: 40px;
}

.promo__img--first {
  margin-right: 20px;
  margin-top: 100px;
  height: 100%;
}

.promo__img--second {
  margin-top: 40px;
  height: 100%;
}

.promo__desc {
  display: block;
}

.promo__desc h1 {
  font-size: 44px;
  line-height: 50px;
  max-width: 80%;
}

.promo__desc p {
  max-width: 80%;
  font-size: 24px;
  line-height: 30px;
}

.promo__desc a {
  display: block;
  padding: 20px 30px;
  margin-top: 40px;
  max-width: 150px;
  color: #ffffff;
  background-color: #D89999;
  border-radius: 35px;
}

/*advantage*/

.advantage {
  margin: 40px 20px 0;
}

/*advantage-list*/

.advantage-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  list-style-type: none;
}

.advantage-list__desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 30px;
  max-width: 33%;
}

.advantage-list__desc:last-child {
  margin-right: 0;
}

.advantage-list__desc img {
  padding-right: 20px;
}

.advantage-list__desc img:last-child {
  padding-right: 0;
}

.advantage-list__desc h4 {
  margin-top: 0;
}

/*popular*/

.popular {
  display: block;
  margin-right: 20px;
  margin-left: 20px;
}

.popular h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 36px;
}

.popular__desc {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 61%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}

.popular__desc h3 {
  font-size: 34px;
  line-height: 40px;
}

.popular__arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.popular__arrows img:first-child {
  margin-right: 15px;
}

.popular__arrows img:hover {
  opacity: 0.6;
}

/*catalogue*/

.catalogue-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
  list-style-type: none;
}

.catalogue-list__desc {
  width: 387px;
  height: 442px;
  background-color: #AE7C78;
}

.catalogue-list__desc a {
  display: block;
  margin-top: 175px;
  color: #ffffff;
  text-align: center;
  align-items: center;
  text-shadow: #AE7C78 1px 0 0px, #AE7C78 0 1px 0px, #AE7C78 -1px 0 0px, #AE7C78 0 -1px 0px;
}

.catalogue-list__desc a:hover {
  opacity: 0.8;
}

.catalogue-list__desc h4 {
  font-size: 36px;
  line-height: 40px;
}

.catalogue-list__desc--first {
  background-image: url("../img/select-1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.catalogue-list__desc--second {
  background-image: url("../img/select-2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.catalogue-list__desc--third {
  background-image: url("../img/select-3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

/*sale*/

.sale {
  display: flex;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 20px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  background-color: #AE7C78;
}

/*sale__desc*/

.sale__desc {
  max-width: 55%;
  padding: 30px 140px;
}

.sale__desc h2 {
  font-size: 38px;
  line-height: 40px;
}

.sale__desc p {
  font-size: 22px;
  line-height: 24px;
}

/*steps*/

.steps__list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 20px;
  list-style-type: none;
}

.steps h2 {
  margin-bottom: 40px;
  font-size: 36px;
  text-align: center;
}

.steps__list li {
  display: block;
  padding-left: 0;
  max-width: 25%;
  text-align: center;
}

/*reviews*/

.reviews {
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

.reviews h2 {
  text-align: center;
  font-size: 36px;
}

/*reviews__list*/

.reviews__list {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  list-style-type: none;
  border: 1px solid #AE7C78;
}

.reviews__list li {
  display: block;
  padding-left: 0;
  max-width: 30%;
  text-align: center;
}

/*map*/

.map {
  position: relative;
}

.map div {
  position: absolute;
  width: 386px;
  top: 10%;
  left: 15%;
  background-color: #ffffff;
}

.map img {
  display: block;
}

/*map__text*/

.map-text {
  padding: 20px 30px;
}

.map-text__bold {
  font-weight: bold;
}

/*footer*/

.footer {
  background-color: #AE7C78;
}

.footer__nav {
  position: relative;
  padding-bottom: 30px;
  padding-top: 30px;
}

.footer__nav img {
  position: absolute;
  top: 28%;
  left: 2%;
}

.footer__nav a {
  color: #ffffff;
}

.nav-list__item--first {
  margin-left: 120px;
}
